.register_container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.banner h1, .banner p {
  display: none;
}
.password {
    border-radius: 8px;
}

.register {
    width: 95%;
    margin: 5rem auto auto auto;
}
.category_container {
  width: 100%;
  margin-bottom: 2rem;
}

.category_container h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #0480fc;
}
.category_section  {
    margin-top: 2rem;
    width: 100%;
}


.grid {
  height: 100px;
  border-radius: 8px;
  max-width: 145px;
  width: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: #d3d3d3;
  border: 1px solid #d3d3d3;
  transition: .4s ease-in;
  cursor: pointer;
}
.active_grid {
  border: 1px dashed #0480fc;
  color: #0480fc;
  transition: .4s ease-in;
}


@media screen and (min-width: 768px){
.banner {
   width: 45%;
   height: 100vh;
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 6rem;
   background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/graduates.jpg') no-repeat;
   background-position: center;
   background-size: cover;
   color: #fff;
   font-weight: normal;
}

.banner h1 {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: -1rem;
    color: #fff;
    display: block;
}

.banner p {
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
  margin-top: 2rem;
 }  
  .register {
     position: absolute;
     width: 55%;
     left: 50%;
     margin-top: 5rem;
  }
 .first_name, .last_name {
      display: inline-block;
      width: 50%;
   }

 .last_name {
     margin-left: 0px;
  }


  .category_container {
    width: 100%;
  }
  
  .grid {
    width: 120px;
   
  }
  
}

@media screen and (min-width: 1024px){
  .first_name, .last_name {
    display: inline-block;
    width: 45%;
 }

.last_name {
   margin-left: -25px;
}


  .category_container {
    width: 100%;
  }

  .grid {
    width: 150px;
  
  } 
  .single_grid {
    margin-left: -2.5rem;
  }
  .single_grid2{
    margin-left: -5rem;
  }


}
